<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/admin_layout}">

<!--이 곳에 link 태그로 css파일 연결하는 코드 작성-->
<th:block layout:fragment="content_css">
  <link rel="stylesheet" href="/css/layouts/book_form.css">
</th:block>

<!--아래 block에 html 코드 작성-->
<th:block layout:fragment="content">
  <div class="book-form">
    <div class="category">
      <h3 class="logo-degin under-bar">카테고리 관리</h3>
      <form action="/admin/reg-category" method="post" id="reg-category">
        <div class="reg-category-div">
          <p>카테고리명</p>
          <input type="text" name="categoryName">
          <button type="button" class="btn btn-small" onclick="regCategory()">등록</button>
        </div>
      </form>
      <div>
        <table class="c-table">
          <colgroup>
            <col width="7%">
            <col width="20%">
            <col width="*%">
            <col width="25%">
          </colgroup>
          <thead>
            <tr>
              <td>No</td>
              <td>카테고리번호</td>
              <td>카테고리명</td>
              <td>삭제</td>
            </tr>
          </thead>
          <tbody>
            <tr th:each=" category, state : ${categoryList}" >
              <td th:text="${#lists.size(categoryList) - state.index}"></td>
              <td th:text="${category.categoryNo}"></td>
              <td th:text="${category.categoryName}"></td>
              <td>
                <button type="button" class="btn btn-nomal">삭제</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="book-reg-form">
      <form action="/book/reg-book" method="post" id="book-form">
        <div class="book-form-div">
          <h3 class="logo-degin under-bar">도서등록</h3>
          <div>
            <p>카테고리</p>
            <select name="categoryNo" class="input">
              <option value="" selected>선택</option>
              <option th:value="${category.categoryNo}" th:each=" category : ${categoryList}" th:text="${category.categoryName}"></option>
            </select>
            <p id="category-p" class="validate-p invalid"></p>            
          </div>
          <div>
            <p>도서명</p>
            <input type="text" name="bookName" class="input">
            <p id="book-p" class="validate-p invalid"></p>
          </div>
          <div>
            <p>가격</p>
            <input type="text" name="bookPrice" id="" class="input">
            <p id="price-p" class="validate-p invalid"></p>            
          </div>
          <div>
            <p>저자</p>
            <input type="text" name="author" id="" class="input">
            <p id="author-p" class="validate-p invalid"></p>
          </div>
          <div>
            <p>재고</p>
            <input type="text" name="stock" id="" class="input">
            <p id="stok-p" class="validate-p invalid"></p>            
          </div>
          <div>
            <p>도서소개</p>
            <textarea name="bookInfo" id="" cols="10" rows="10" class="input"></textarea>
            <p id="bookInfo-p" class="validate-p invalid"></p>            
          </div>
          <div>
            <button type="button" class="btn btn-large" onclick="regBook()">도서등록</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</th:block>

<!--이 곳에 script 태그로 js파일 연결하는 코드 작성-->
<th:block layout:fragment="content_js">
  <script src="/js/layouts/book_form.js"></script>
</th:block>
</html>